body {
    background: #d4b89d;
}

.display-4 {
    color: #f64027;
    font-size: 5.0rem;
    font-weight: bold;
}

h1{
    text-align: center;
    width: 100%;
}

.jumbotron {
    margin-left: 30px;
    margin-right: 30px;
    border-style: ridge;
    border-color: #a6c819;
    border-width: 20px;
    font-family: 'Cinzel Decorative';
    text-shadow: 2px 5px 4px black;
    font-weight: 700;
    background-color: #139eff;
}

.container-fluid {
    font-family: 'Press Start 2P', cursive;
}

.row {
    border-style: ridge;
    border-width: 10px;
    border-color: #a6c819;
    margin-left: 60px;
    margin-right: 60px;
}

#blueRupee, #greenRupee, #redRupee, #yellowRupee {
    width: 100px;
    height: 100px;
}