body {
    background: #d4b89d;
}

.display-4 {
    color: #f64027;
    text-align: center;
}

.jumbotron {
    margin-left: 100px;
    margin-right: 100px;
    border-style: dashed;
    border-color: #a6c819;
    border-width: 20px;
}